<div class="container">
  <h2 id="menu-categories-title" class="text-center">Sign up!</h2>
  <div>
    <p class="text-center">Please enter your information below.</p>
	
	<fieldset>
      <form name='suc.form.regForm' novalidate>
		<label><input ng-model="suc.user.firstname" type="text" name="firstname" placeholder="First name"
			required /> </label>
		<span
		ng-if="suc.form.regForm.firstname.$error.required && suc.form.regForm.firstname.$touched">
		Please enter something!
		</span>
		<br/>
		<label><input ng-model="suc.user.lastname" type="text" name="lastname" placeholder="Last name"
			required /> </label>
		<span
		ng-if="suc.form.regForm.lastname.$error.required && suc.form.regForm.lastname.$touched">
		Please enter something!
		</span>
		<br/>
		<label><input ng-model="suc.user.email" type="text" name="email" placeholder="E-mail"
			required /> </label>
		<span ng-if="suc.form.regForm.email.$invalid && suc.form.regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
		<br/>
		<label><input ng-model="suc.user.phone" type="text" name="phone" placeholder="Phone"
			pattern="(\d{3})-(\d{3})-(\d{4})"
			required /> </label>
		<span ng-if="suc.form.regForm.phone.$invalid && suc.form.regForm.phone.$touched">
            Must be in the format ###-###-####.
        </span>
		<br/>
		<label><input
			ng-model="suc.user.fab"
			ng-model-options="{ debounce: 500 }"
			ng-change="suc.findItems()"
			type="text" name="fab" placeholder="Favorite dish"
			/> </label>
		<span ng-if="!suc.itemExists">
			No such item exists.
		</span>
		<br/>
		<button
          ng-disabled="suc.form.regForm.$invalid"
          ng-click="suc.submit()">Submit</button>
	  <p class="text-center"> {{ suc.message }} </p>
      </form>

    </fieldset>
  </div>
  
    


</div>
