html {
	height: 100%;
}
body {
	background: black;
	background: linear-gradient(maroon, crimson);
	color: white;
}
h2 {
	font-family: "Times New Roman";
}
.main {
	margin: 5em;
}
.img-responsive, .loader {
	margin: 0 auto;
}

button {
	margin-top: 3em;
}
ul {
	list-style-type: none;
}

ul li {
	width: 20%;
	padding: .3%;
}

ul li:hover {
	color: yellow;
	cursor: hand;
	cursor: pointer;
}